<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Add a Character</title>
</head>
<body>
    
<p>First die roll: {{roll}}<br>
    Second die roll: {{roll2}}<br>
    Modifier: {{mod}}</p>
<p>Your total roll is: <h2>{{sum}}</h2></p>

<h3>10+</h3>
<p>You do what you set out to, the threat doesn't come to bear</p>
<h3>7-9</h3>
<p>You stumble, hesitate, or flinch. The GM will offer you a worse outcome, hard bargain, or ugle choice</p>
<h3>6 and below</h3>
<p>You fail. Mark experience</p>