<h3>Are you sure you want to delete the following character?</h3>
<p>Name: {{char_name}}</p>
<form action="/character/{{id}}/delete" method="post">
      <input type="submit" value="Delete User" />
</form>