<p>First die roll: {{roll}}<br>
    Second die roll: {{roll2}}<br>
    Modifier: {{mod}}</p>
<p>Your total roll is: <h2>{{sum}}</h2></p>

<h3>10+</h3>
<p>You deal your damage to the enemy and avoid their attack</p>
<h3>7-9</h3>
<p>You deal your damage to the enemy and the enemy makes an attack against you</p>
<h3>6 and below</h3>
<p>Attack fails, mark experience</p>