<h2>Already have a username? Log in here:</h2>
<form action="" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="button" value="submit"Submit>
</form>
<br>
<br>
<h2>New user? Fill out the following:</h2>
<form action="" method="POST">
    <input type="text" name="newuser" placeholder="Pick a username">
    <input type="button" value="submit"Submit>
</form>
