<div class="row">
    <div class="col s5">
      <h3 class="center black white-text">Click on your username below:</h3>
      <div>
        {{#each users}}
          <ul class="collection s6">
            <li class="collection-item black"><a class="white-text" href="/profile/{{id}}">{{name}}</a></li>
          </ul>
        {{/each}}
      </div>
    </div>
    <div class="col s5 offset-s2">
      <h3 class="black white-text">New user?</h3>
      <a class="btn black" href="/add">Click here to create a username</a>
    </div>
</div>