<h2>Already have a character? What's your username?:</h2>
<form action="" method="POST">
    <input type="text" placeholder="username">
    <input type="button" value="submit"Submit>
</form>
<br>
<br>
<h2>New user or new character? Fill out the following:</h2>
<form action="" method="POST">
    <input type="text" placeholder="Pick a username">
    <input type="text" placeholder="Pick character class">
    <input type="button" value="submit"Submit>
</form>