<p>First die roll: {{roll}}<br>
    Second die roll: {{roll2}}<br>
    Modifier: {{mod}}</p>
<p>Your total roll is: <h2>{{sum}}</h2></p>

<h3>10+</h3>
<p>The GM character asks you for something and are manipulated if you make them a promise first</p>
<h3>7-9</h3>
<p>The character needs some concrete assurance of your promise right now</p>
<h3>6 and below</h3>
<p>They are not swayed. Mark experience</p>