<h3>Welcome, {{users.name}}</h3>
<div class="row">
    <div class="col s5">
      <h4 class="black white-text">Choose your character</h4>
      <div>
        {{#each characters}}
          <ul class="collection s6">
            <li class="collection-item black"><a class="white-text" href='/character/{{id}}' >{{char_name}}</a></li>
          </ul>
        {{/each}}
      </div>
    </div>
    <div class="col s5 offset-s2">
      <h4 class="black white-text">New campaign?</h4>
      <i class="material-icons prefix large">person_add</i>
      <input class="btn black" value="Create a New Character" onclick="location.href='/profile/{{users.id}}/add'" />
    </div>
</div>
