<h1>Welcome, {{users.name}}</h1>
<h3>Choose the character you would like to play with today:</h3>



<input type="button" value="Create a New Character" onclick="@("window.location.href='" + @Url.Action("actionName", "controllerName") + "'");" />
