 <div class="row">
    <h4 class="center black white-text">Recruit</h4>
    <div class="col s2">
      First die roll: <h4>{{roll}}</h4>
    </div>
    <div class="col s2">
        Second die roll: <h4>{{roll2}}</h4><br><br>
        Your total roll: <div class="card"><h1>{{sum}} + adv</h1></div>
    </div>
    <div class="col s2">
        Modifier: <h4>adv</h4></p>
    </div>
    <div class="col s4">
        <h4 class="black white-text">10+</h4>
            <p>You've got your pick of a number of skilled applicants, your choice who you hire, no penalty for not taking them along</p>
        <h4 class="black white-text">7-9</h4>
            <p>You'll have to settle for someone close or turn them away
            </p>
        <h4 class="black white-text">6 and below</h4>
            <p>Someone influential and ill-suited declares they'd like to come along (a follhardy youth, a loose-cannon, or a veiled enemy, for example), bring them and take the consequences or turn them away. If you turn away applicants you take -1 forward to Recruit</p>
    </div>
 </div>  
 <div class="center">
    <a href="/character/{{id}}/" class="btn black">Character Sheet</a>
  </div>
