<div class="row">
  <h4 class="center black white-text">Roll Damage</h4>
  <div class="col s4">
     
  </div>
  <div class="col s4">
      Your roll: <div class="card"><h1>{{roll}}</h1></div>
  </div>
  <div class="col s4">
     
  </div>
 
</div>  
<div class="center">
  <a href="/character/{{id}}/roll" class="btn black">Roll Damage</a>
  <a href="/character/{{id}}/" class="btn black">Character Sheet</a>
</div>